doctype html
html(lang=en)
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="referrer" content="no-referrer")
    title #{meta.title}
    link(rel="stylesheet" href="/css/spectre.min.css")
    link(rel="stylesheet" href="/css/animeshot.css")
    script(src="/js/animeshot.js" defer async)
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@" + meta.owner)
    meta(name="twitter:title" content=meta.title)
    meta(name="twitter:description" content=meta.tagline)
    meta(name="twitter:image" content=meta.logo)
    meta(name="twitter:image:alt" content="site logo")
  body
    p Hello World!