div.column.col-2.col-md-3.col-sm-4.col-xs-12
div.column.column.col-10.col-md-9.col-sm-8.col-xs-12.text-center
  div.d-inline-block.text-left
    ul.pagination
      //- previous page and first page
      if page.current == 1
        li.page-item.disabled
          span #{i18n.previous}
        li.page-item.active
          a(href=page.path + "/1") 1
      else
        li.page-item
          a(href=page.path + "/" + (page.current - 1)) #{i18n.previous}
        li.page-item
          a(href=page.path + "/1") 1
      //- special cases
      if page.max >= 3 && page.max <= 5
        li.page-item(class=(page.current == 2) ? "active" : "")
          a(href=page.path + "/2") 2
      if page.max >= 4 && page.max <= 5
        li.page-item(class=(page.current == 3) ? "active" : "")
          a(href=page.path + "/3") 3
      if page.max == 5
        li.page-item(class=(page.current == 4) ? "active" : "")
          a(href=page.path + "/4") 4
      //- common cases
      if page.max >= 6
        if page.current >= 4
          li.page-item
            span ...
        if page.current >= 3 && page.current <= page.max
          li.page-item
            a(href=page.path + "/" + (page.current - 1)) #{page.current - 1}
        if page.current >= 2 && page.current <= page.max - 1
          li.page-item.active
            a(href=page.path + "/" + page.current) #{page.current}
        if page.current >= 1 && page.current <= page.max - 2
          li.page-item
            a(href=page.path + "/" + (page.current + 1)) #{page.current + 1}
        if page.current <= page.max - 3
          li.page-item
            span ...
      //- last page and next page
      if page.max <= 1
        li.page-item.disabled
          span #{i18n.next}
      else if page.current == page.max
        li.page-item.active
          a(href=page.path + "/" + page.max) #{page.max}
        li.page-item.disabled
          span #{i18n.next}
      else
        li.page-item
            a(href=page.path + "/" + page.max) #{page.max}
        li.page-item
          a(href=page.path + "/" + (page.current + 1)) #{i18n.next}